.grid-container {
  display: flex;
  justify-content: flex-start;
}

.column:nth-child(1) {
  flex-basis: 30%; /* Adjust the width as needed */
}

.column:nth-child(2) {
  flex-basis: 40%; /* Adjust the width as needed */
}

.column:nth-child(3) {
  flex-basis: 30%; /* Adjust the width as needed */
}

.column {
  flex: 1;
  background-color: #f1f5ff;
  width: 10px;

}

html, body {
  height: 100%;
  width: 100%;
  background-color: #f1f5ff;
  color:black;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 20 px;
}

#box1 {
  text-align: center;
  color:#374780;
  font-family: Roboto Mono;
  font-size: 40px;
  padding: 30px;
}

body {
  background-color: #f1f5ff; 
  text-align: center;

}

h3 {
  font-family: roboto, sans-serif;
  border-radius: 11px;
  text-align: center;
  padding: 12px;
  background-color:#841f1f;
  color: white;
  width: 90%;
  margin: 0 auto; /* Center the h3 horizontally */
}

#questions {
  font-size: 16px;
  text-align: center;
  padding: 20px;
  background-color: #f1f5ff;
  font-family: Roboto, sans-serif;
}

p {
  color:black;
  border-style: solid;
  border-color: #A8D0E6;
  border-width: 2px;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}

button-div {
  background-color: #f1f5ff;
  /* color: #1e86ee; */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  display: flex; justify-content: center; align-items: center;
  
}

#submit{
  background-color:#97c6f6;
  box-shadow: 0px 4px 10px #2c4c6c;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  
  width: 120px;
  height: 50px;

}

#clubNiches {
  font-size: 30 px;
  font-family: Roboto;
}

nav {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline;
}