html, body {
  height: 100%;
  width: 100%;
}

#box1 {
  text-align: center;
  border-color: #a8d0e6;
  font-family: arial;
  font-size: 40px;
  border-radius: 22px;
  padding: 30px;
  background: #a8d0e6
  
  
}

body {
  background-color:white; 
  text-align: center;

}

h1 {
  font-family: 'Geologica', sans-serif;
  text-align: top;
  color: #24305E;
  
}

h3 {
  font-family: 'Geologica', sans-serif;
  border-radius: 11px;
  text-align: center;
  padding: 12px;
  background-color: #24305E;
  color: white;
  width: 70%;
  margin: 0 auto; /* Center the h3 horizontally */
}


p {
  color:black;
  border-style: solid;
  border-color: #A8D0E6;
  border-width: 2px;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  background-color: white;
  font-family: "Optima", sans-serif;
}

nav {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline;
}